<div class="content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="header-icon">
                <i class="pe-7s-note2"></i>
            </div>
            <div class="header-title">
                <h1>Add Attribute</h1>
                <small></small>
                <ol class="breadcrumb">
                    <li><a href="/home"><i class="pe-7s-home"></i> Home</a></li>
                    <li class="active">Add Attribute</li>
                </ol>
            </div>
        </div>
        <!-- /. Content Header (Page header) -->

        <form method="post"  enctype="multipart/form-data" ng-submit="submitForm()">
            <input type="hidden" name="" ng-model="form.attribute_id" value="{{attribute._id}}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-bd ">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Add Attribute</h4>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Name<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="name" ng-model="form.name" type="text" value=""  placeholder="" required="">
                                </div>

                            </div>
                            
                            <div class="form-group row" ng-if="attribute.type == 'color'">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Color<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="color" ng-model="form.color" type="color" value=""  placeholder="" required="">
                                </div>

                            </div>

                            <div class="form-group row" ng-if="attribute.type == 'text'">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Text<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="text" ng-model="form.text" type="text" value=""  placeholder="" required="">
                                </div>

                            </div>
                            
                            <div class="form-group row" ng-if="attribute.type == 'image'">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Featured Image<span class="required"></span></label>
                                <div class="col-sm-9">
                                    <a href="javascript:void(0)" class="btn btn-info btn-sm selectMedia" data-toggle="modal" data-target="#media" ng-click="storeLocalStorage('featuredImg', 'single')" id="featuredImg" >Browse</a>
                                    <input type="hidden" ng-model="form.image" name="image">
                                </div>

                            </div>

                            <div class="showSelectedImages">
                            </div>

                            

                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary pull-right">Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>