<div class="content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="header-icon">
                <i class="pe-7s-note2"></i>
            </div>
            <div class="header-title">
                <h1>Add Category</h1>
                <small></small>
                <ol class="breadcrumb">
                    <li><a href="/home"><i class="pe-7s-home"></i> Home</a></li>
                    <li class="active">Add Category</li>
                </ol>
            </div>
        </div>
        <!-- /. Content Header (Page header) -->


        <form method="post"  enctype="multipart/form-data" ng-submit="submitForm()">

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-bd ">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Add Category</h4>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Name<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="name" ng-model="form.name" type="text" value=""  placeholder="" required="">
                                </div>

                            </div>

                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Sort<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="name" ng-model="form.sort" type="text" value=""  placeholder="" required="">
                                </div>

                            </div>
                            <!-- <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Url<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="password" ng-model="form.url" type="text" value=""  placeholder="">
                                </div>

                            </div> -->
                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Parent Category<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="form.parent_id" name="role" required="">
                                        <option>Select Parent Category</option>
                                        <option ng-repeat="c in category" value="{{c._id}}">{{c.name}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group row">

                                <label for="short_description" class="col-sm-3 col-form-label">Short Description<span class="required"></span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="short_description" ng-model="form.short_description" >
                                </div>

                            </div>

                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Description<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" ng-model="form.description" required=""> </textarea>
                                </div>

                            </div>


                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Featured Image<span class="required"></span></label>
                                <div class="col-sm-9">
                                    <a href="javascript:void(0)" class="btn btn-info btn-sm selectMedia" data-toggle="modal" data-target="#media" ng-click="storeLocalStorage('featuredImg', 'single')" id="featuredImg" >Browse</a>
                                    <input type="hidden" ng-model="form.featured_img">
                                </div>

                            </div>

                            <div class="showSelectedImages">
                            </div>


                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Gallery<span class="required"></span></label>
                                <div class="col-sm-9">
                                    <a href="javascript:void(0)" class="btn btn-info btn-sm selectMedia" data-toggle="modal" data-target="#media" ng-click="storeLocalStorage('gallery', 'multiple')" id="gallery">Browse</a>
                                    <input type="hidden" ng-model="form.gallery">
                                </div>


                            </div>

                            <div class="showSelectedImages">
                            </div>


                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Mobile Featured image<span class="required"></span></label>
                                <div class="col-sm-9">
                                    <a href="javascript:void(0)" class="btn btn-info btn-sm selectMedia" data-toggle="modal" data-target="#media" ng-click="storeLocalStorage('mobileFeaturedImg', 'single')" id="mobileFeaturedImg">Browse</a>
                                    <input type="hidden" ng-model="form.mobile_featured_img">
                                </div>

                            </div>

                            <div class="showSelectedImages">
                            </div>


                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Mobile Gallery<span class="required"></span></label>
                                <div class="col-sm-9">
                                    <a href="javascript:void(0)" class="btn btn-info btn-sm selectMedia" data-toggle="modal" data-target="#media" ng-click="storeLocalStorage('mobileGallery', 'multiple')" id="mobileGallery">Browse</a>
                                    <input type="hidden" ng-model="form.mobile_gallery">
                                </div>

                            </div>

                            <div class="showSelectedImages">
                            </div>


                            <div class="form-group row custom-field-container" data-ng-repeat="choice in choices">

                                <label for="example-text-input" class="col-sm-3 col-form-label">Add Other Fields<span class="required"></span></label>
                                <div class="col-sm-9">

                                  <label for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
                                  <a href="javascript:void(0)" class="btn btn-primary" ng-show="showAddChoice(choice)" ng-click="addNewChoice()"> <i class="fa fa-plus"></i> </a>
                                  <a href="javascript:void(0)" class="btn btn-danger" ng-click="removeNewChoice(choice.id)"><i class="fa fa-trash"></i> </a>

                                    <div class="col-md-3">
                                      <input type="text" class="form-control custom-field-name" placeholder="Enter Name">
                                    </div>
                                    <div class="col-md-3">
                                      <input type="text" class="form-control custom-field-value" placeholder="Enter Value">
                                    </div>




                                    <!-- <a href="javascript:void(0)" class="btn btn-info btn-sm selectMedia" data-toggle="modal" data-target="#media" ng-click="storeLocalStorage('mobileGallery', 'multiple')" id="mobileGallery">Browse</a> -->
                                    <!-- <input type="hidden" ng-model="form.mobile_gallery"> -->
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary pull-right">Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
