<!-- ========================================
		==Start Main Slider==
======================================== -->
<div class="main-slider">
	<div class="container-fluid">
		<div class="row">
			<div class="camera_wrap camera_azure_skin" id="main-slider">
	            <div data-thumb="img/banner-images/slider-image1.jpg" data-src="img/banner-images/slider-image1.jpg">
	                <div class="camera_caption fadeInLeft" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .0s;-webkit-animation-delay: .0s;">
	                    <h3>UNIQUE DRESS COLLECTIONs</h3>
	                </div>
	                <div class="camera_caption fadeInLeft" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1s;-webkit-animation-delay: 1s;">
	                	<h1>Of This Summer - 2016</h1>
	                </div>
	                 <div class="camera_caption fadeInLeft" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1.30s;-webkit-animation-delay: 1.30s;">
	                	<p>
	                		Cum vidisse fabellas efficiendi ea. Eam saepe vituperatoribus cu. Verear insolens qui mei sint ocurreret disputando.
	                	</p>
	                </div>
	                <div class="camera_caption fadeInLeft" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1.55s;-webkit-animation-delay: 1.55s;">
	                	<a href="#"  class="nv-btn">
		                	Shop Now		     
						</a>
	                </div>
	            </div>
	       		<!-- End Slider One data -->
	       		<div data-thumb="img/banner-images/slider-image2.jpg" data-src="img/banner-images/slider-image2.jpg">
	                <div class="camera_caption fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .0s;-webkit-animation-delay: .0s;">
	                    <h3>Save up to 20% </h3>
	                </div>
	                <div class="camera_caption fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1s;-webkit-animation-delay: 1s;">
	                	<h1>On new Arival</h1>
	                </div>
	                 <div class="camera_caption fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1s;-webkit-animation-delay: 1s;">
	                	<p>
	                		Cum vidisse fabellas efficiendi ea. Eam saepe vituperatoribus cu. Verear insolens qui mei sint ocurreret disputando.
	                	</p>
	                </div>
	                <div class="camera_caption fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1.30s;-webkit-animation-delay: 1.30s;">
	                	<a href="#"  class="nv-btn">
		                	Shop Now
						</a>
	                </div>
	            </div>
	            <!-- End Slider1 page2 -->
	            <div data-thumb="img/banner-images/slider-image1.jpg" data-src="img/banner-images/slider-image1.jpg">
	                <div class="camera_caption fadeInRight" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .0s;-webkit-animation-delay: .0s;">
	                    <h3>buy one</h3>
	                </div>
	                <div class="camera_caption fadeInRight" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1s;-webkit-animation-delay: 1s;">
	                	<h1>Get another one free!</h1>
	                </div>
	                 <div class="camera_caption fadeInRight" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1.30s;-webkit-animation-delay: 1.30s;">
	                	<p>
	                		Cum vidisse fabellas efficiendi ea. Eam saepe vituperatoribus cu. Verear insolens qui mei sint ocurreret disputando.
	                	</p>
	                </div>
	                <div class="camera_caption fadeInRight" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: 1.55s;-webkit-animation-delay: 1.55s;">
	                	<a href="#"  class="nv-btn">
		                	Shop Now
						</a>
	                </div>
	            </div>
    		</div>
		</div>
	</div>
</div>
<!-- ========================================
		==End Main Slider==
======================================== -->

<!-- ========================================
			==Our Services==
======================================== -->
<div class="our-services">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="our-service-content">
					<ul>
						<li>
							<div class="single-service-item">
								<i class="icofont icofont-vehicle-delivery-van"></i>
								<h6>Fast Delivery</h6>
								<p>
								get product within 3 days
								</p>
							</div>
						</li>
						<li>
							<div class="single-service-item">
								<i class="icofont icofont-vehicle-delivery-van"></i>
								<h6>Free Shipping and Return</h6>
								<p>
								free shipping on order over $99
								</p>
							</div>
						</li>
						<li>
							<div class="single-service-item">
								<i class="icofont icofont-money-bag"></i>
								<h6>Money Back Guarantee</h6>
								<p>
									our products are 100% genuine
								</p>
							</div>
						</li>
						<li>
							<div class="single-service-item">
								<i class="icofont icofont-live-support"></i>
									<h6>24/7 days support</h6>
								<p>
									best customer service
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ========================================
			==Our Services==
======================================== -->

<!-- ========================================
		==Start Popular Product==
======================================== -->
<section class="popular-product">
	<div class="container">
		<div class="row">
			<div class="section-top-area">
				<div class="section-title">
					<h2>Popular <span>Products</span></h2>
				</div>
			</div>
		</div>
		<div class="product-container">
			<div class="row">
				<div class="col-md-4">
					<div class="single-product">
						<div class="single-product-image">
							<figure>
								<img src="img/product-image/popular-product-img1.jpg" alt="popular-products">
							</figure>
						</div>
						<div class="single-product-hover-item">
							<div class="single-product-hover-item-inner-area">
								<ul>
									<li>
										<a href="shopping-cart.html">
											<i class="icofont icofont-shopping-cart"></i>
										</a>
									</li>
									<li>
										<a href="WishList.html">
											<i class="icofont icofont-heart"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icofont icofont-exchange"></i>
										</a>
									</li>
									<li>
										<a href="#inline-content" class="venoboxinline" data-title="Single Item Popup" data-gall="gall-frame" data-type="inline">
											<i class="icofont icofont-expand"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="single-product-bottom-bar">
							<h5>
								<a href="product-details.html">Osama Wrist Watch</a>
							</h5>
							<ul>
								<li>$99.00</li>
								<li><p>$99.00</p></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="single-product">
						<div class="single-product-image">
							<figure>
								<img src="img/product-image/popular-product-img2.jpg" alt="popular-products">
							</figure>
						</div>
						<div class="single-product-hover-item">
							<div class="single-product-hover-item-inner-area">
								<ul>
									<li>
										<a href="shopping-cart.html">
											<i class="icofont icofont-shopping-cart"></i>
										</a>
									</li>
									<li>
										<a href="WishList.html">
											<i class="icofont icofont-heart"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icofont icofont-exchange"></i>
										</a>
									</li>
									<li>
										<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
											<i class="icofont icofont-expand"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="single-product-bottom-bar">
							<h5>
								<a href="product-details.html">York Leather Bag</a>
							</h5>
							<ul>
								<li>$99.00</li>
								<li><p>$99.00</p></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-xs-12">
							<div class="single-product-wrap">
								<div class="single-product">
									<div class="single-product-image">
										<figure>
											<img src="img/product-image/popular-product-img3.jpg" alt="popular-products">
										</figure>
									</div>
									<div class="single-product-hover-item">
										<div class="single-product-hover-item-inner-area">
											<ul>
												<li>
													<a href="shopping-cart.html">
														<i class="icofont icofont-shopping-cart"></i>
													</a>
												</li>
												<li>
													<a href="WishList.html">
														<i class="icofont icofont-heart"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="icofont icofont-exchange"></i>
													</a>
												</li>
												<li>
													<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
														<i class="icofont icofont-expand"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="single-product-bottom-bar">
										<h5>
											<a href="product-details.html">Leather shoes</a>
										</h5>
										<ul>
											<li>$99.00</li>
											<li><p>$99.00</p></li>
										</ul>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="single-product-wrap">
								<div class="single-product">
									<div class="single-product-image">
										<figure>
											<img src="img/product-image/popular-product-img4.jpg" alt="popular-products">
										</figure>
									</div>
									<div class="single-product-hover-item">
										<div class="single-product-hover-item-inner-area">
											<ul>
												<li>
													<a href="shopping-cart.html">
														<i class="icofont icofont-shopping-cart"></i>
													</a>
												</li>
												<li>
													<a href="WishList.html">
														<i class="icofont icofont-heart"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="icofont icofont-exchange"></i>
													</a>
												</li>
												<li>
													<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
														<i class="icofont icofont-expand"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="single-product-bottom-bar">
										<h5>
											<a href="product-details.html">Leather Belt</a>
										</h5>
										<ul>
											<li>$99.00</li>
											<li><p>$99.00</p></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ========================================
		==ENd Popular Product==
======================================== -->

<!-- ========================================
		==Start Special Deal==
======================================== -->
<section class="special-deal">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="special-deal-content-carousel">
					<div class="item">
						<div class="deal-inner-content">
							<div class="special-deal-top-content">
								<h6>DEAL OF THE DAY</h6>
								<h4>Osama Leather Bag</h4>	
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. 
								</p>
							</div>
							<div class="special-deal-price">
								<ul>
									<li>
										$455
									</li>
									<li>
										<span>$599</span>
									</li>
								</ul>	
							</div>
							<div class="deal-counting-outer-container">
								<div class="deal-counting">
                            		<div class="countdown-timer"></div>
                        		</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="deal-inner-content">
							<div class="special-deal-top-content">
								<h6>DEAL OF THE DAY</h6>
								<h4>Osama Leather Bag</h4>	
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. 
								</p>
							</div>
							<div class="special-deal-price">
								<ul>
									<li>
										$522
									</li>
									<li>
										<span>$780</span>
									</li>
								</ul>	
							</div>
							<div class="deal-counting-outer-container">
								<div class="deal-counting">
                            		<div class="countdown-timer"></div>
                        		</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="deal-inner-content">
							<div class="special-deal-top-content">
								<h6>DEAL OF THE DAY</h6>
								<h4>Osama Leather Bag</h4>	
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. 
								</p>
							</div>
							<div class="special-deal-price">
								<ul>
									<li>
										$330
									</li>
									<li>
										<span>$758</span>
									</li>
								</ul>	
							</div>
							<div class="deal-counting-outer-container">
								<div class="deal-counting">
                            		<div class="countdown-timer"></div>
                        		</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="deal-item-images">
					<div class="deal-image-carousel">
						<div class="item">
							<div class="single-deal-image">
								<figure>
									<img src="img/product-image/deal-of-the-day-img1.jpg" alt="">
								</figure>	
							</div>
						</div>
						<div class="item">
							<div class="single-deal-image">
								<figure>
									<img src="img/product-image/deal-of-the-day-img2.jpg" alt="">
								</figure>	
							</div>
						</div>
						<div class="item">
							<div class="single-deal-image">
								<figure>
									<img src="img/product-image/deal-of-the-day-img3.jpg" alt="">
								</figure>	
							</div>	
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<!-- ========================================
		==Start Special Deal==
======================================== -->

<!-- ========================================
			==Call to Action Area==
======================================== -->
<div class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="call-to-action-left">
					<h3>Check out our mega collection of this Eid</h3>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="call-to-action-right">
					<a href="ShopGrid-4ColumnFullWidth.html" class="nv-btn">
						DISCOVER
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ========================================
			==Call to Action Area==
======================================== -->

<!-- ========================================
	==Start collection And offser==
======================================== -->
<div class="collection-offer section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="single-item-collection">
					<figure>
						<img src="img/product-image/collection-img1.jpg" alt="">
					</figure>
					<div class="collection-text">
						<div class="collection-text-inner-area">
							<div class="collection-text-inner-content">
								<h5>
									<a href="#">
										women
									</a>
								</h5>
								<h3>
									Summer 2016	
								</h3>
								<a href="ShopList-Single-Column-RightSidebar.html" class="collection-btn">
									<i class="icofont icofont-long-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="single-item-collection">
					<figure>
						<img src="img/product-image/collection-img2.jpg" alt="">
					</figure>
					<div class="collection-text">
						<div class="collection-text-inner-area">
							<div class="collection-text-inner-content">
								<h5>
									<a href="ShopGrid-3ColumnLeftSidebar.html">
										Mega Sell
									</a>
								</h5>
								<h3>
									Up to 70%
								</h3>
								<a href="ShopGrid-3ColumnRightSidebar.html" class="collection-btn">
									<i class="icofont icofont-long-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="single-item-collection">
					<figure>
						<img src="img/product-image/collection-img3.jpg" alt="">
					</figure>
					<div class="collection-text">
						<div class="collection-text-inner-area">
							<div class="collection-text-inner-content">
								<h5>
									<a href="ShopGrid-3ColumnLeftSidebar.html">
										men
									</a>
								</h5>
								<h3>
									Summer 2016
								</h3>
								<a href="ShopGrid-3ColumnRightSidebar.html" class="collection-btn">
									<i class="icofont icofont-long-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="collection-offeer-bottom-content">
			<div class="row">
				<div class="col-sm-8">
					<div class="sign-up-discount">
						<h5>Sign up now and</h5>
						<h3>Get 50% off on your first order</h3>
						<a href="Login-Register.html" class="nv-btn-type2">sign up</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="single-item-collection">
						<figure>
							<img src="img/product-image/collection-img5.jpg" alt="">
						</figure>
						<div class="collection-text">
							<div class="collection-text-inner-area">
								<div class="collection-text-inner-content">
									<h5>
										<a href="#">
											women
										</a>
									</h5>
									<h3>
										Summer 2016	
									</h3>
									<a href="ShopGrid-3ColumnRightSidebar.html" class="collection-btn">
										<i class="icofont icofont-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ========================================
	==Start Advertisement And offser==
======================================== -->

<!-- ========================================
		==Start Partners Carousel==
======================================== -->
<div class="our-partners">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="partners">
					<div class="item">
						<a href="#">
							<img src="img/partners/client1.png" alt="">
						</a>
					</div>
					<div class="item">
						<a href="#">
							<img src="img/partners/client2.png" alt="">
						</a>
					</div>
					<div class="item">
						<a href="#">
							<img src="img/partners/client3.png" alt="">
						</a>
					</div>
					<div class="item">
						<a href="#">
							<img src="img/partners/client4.png" alt="">
						</a>
					</div>
					<div class="item">
						<a href="#">
							<img src="img/partners/client5.png" alt="">
						</a>
					</div>
					<div class="item">
						<a href="#">
							<img src="img/partners/client3.png" alt="">
						</a>
					</div>
					<div class="item">
						<a href="#">
							<img src="img/partners/client4.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ========================================
		==Start Partners Carousel==
======================================== -->

<!-- ========================================
			==Start New Arivals==
======================================== -->
<section class="new-arival section-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="section-top-area">
				<div class="section-title">
					<h2>New <span>arrivals</span></h2>
				</div>
			</div>
		</div>
		<div class="row" data-uk-slideset="{animation: 'slide-horizontal', medium:3, large:3,xlarge:3, duration: 300}">
			<div class="col-xs-12">
				<div id="new-arival" class="nova-sorting-menu">
					<ul>
						<li class="uk-active" data-uk-filter=""><a href="#">All Shop </a></li>
						<li data-uk-filter=" clothing"><a href="#"> clothing</a></li>
						<li data-uk-filter="shoes"><a href="#">shoes </a></li>
						<li data-uk-filter="bags"><a href="#"> bags</a></li>
						<li data-uk-filter="accessories"><a href="#"> accessories </a></li>
					</ul>
				</div>
			</div>
			<!-- Dynamic Grid -->
			<div class="slide">
				<div class="uk-slideset ">
					<div class="col-sm-4" data-uk-filter="clothing">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img1.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Osama Wrist Watch</a>
								</h5>
								<ul>
									<li>$29.00</li>
									<li><p>$15.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="shoes">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img5.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$53.00</li>
									<li><p>$23.00</p></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-4" data-uk-filter="bags">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img9.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Imperial Bag</a>
								</h5>
								<ul>
									<li>$52.00</li>
									<li><p>$78.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="accessories">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img4.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Citizen watch</a>
								</h5>
								<ul>
									<li>$25.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="shoes">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img7.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$18.00</li>
									<li><p>$29.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="bags">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img8.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Leather Bag</a>
								</h5>
								<ul>
									<li>$25.00</li>
									<li><p>$90.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="accessories">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img9.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Hand Bags</a>
								</h5>
								<ul>
									<li>$22.00</li>
									<li><p>$59.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="clothing">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img18.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$15.00</li>
									<li><p>$69.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="shoes">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img19.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Easy T-Shirt</a>
								</h5>
								<ul>
									<li>$51.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="bags">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img20.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">Hand Bags</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="accessories">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img20.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">White Pen</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="clothing">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img21.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$15.00</li>
									<li><p>$69.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="shoes">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img27.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Easy T-Shirt</a>
								</h5>
								<ul>
									<li>$51.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="bags">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img20.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">Hand Bags</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="accessories">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img24.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">White Pen</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="clothing">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img23.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$15.00</li>
									<li><p>$69.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="shoes">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img19.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Easy T-Shirt</a>
								</h5>
								<ul>
									<li>$51.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="bags">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img8.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">Hand Bags</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="accessories">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img25.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">White Pen</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="clothing">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img22.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$15.00</li>
									<li><p>$69.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="clothing">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img3.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Maxthon Pen</a>
								</h5>
								<ul>
									<li>$15.00</li>
									<li><p>$69.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="shoes">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img6.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="product-details.html">Easy T-Shirt</a>
								</h5>
								<ul>
									<li>$51.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="bags">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img10.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">Hand Bags</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-sm-4" data-uk-filter="accessories">
						<div class="single-product">
							<div class="single-product-image">
								<figure>
									<img src="img/product-image/new-arival-img2.jpg" alt="New Arival">
								</figure>
							</div>
							<div class="single-product-hover-item">
								<div class="single-product-hover-item-inner-area">
									<ul>
										<li>
											<a href="shopping-cart.html">
												<i class="icofont icofont-shopping-cart"></i>
											</a>
										</li>
										<li>
											<a href="WishList.html">
												<i class="icofont icofont-heart"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icofont icofont-exchange"></i>
											</a>
										</li>
										<li>
											<a href="#inline-content" class="venoboxinline"   data-gall="gall-frame" data-type="inline">
												<i class="icofont icofont-expand"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="single-product-bottom-bar">
								<h5>
									<a href="#">White Pen</a>
								</h5>
								<ul>
									<li>$99.00</li>
									<li><p>$99.00</p></li>
								</ul>
							</div>
						</div>	
					</div>	
				</div>
				<div class="slideset-navigation">
					<div class="col-xs-12">
						<a href="#" class="uk-slidenav uk-slidenav-previous navigation-btn" data-uk-slideset-item="previous">
							<i class="icofont icofont-long-arrow-left"></i>
						</a>
						<a href="#" class="uk-slidenav uk-slidenav-next navigation-btn" data-uk-slideset-item="next">
							<i class="icofont icofont-long-arrow-right "></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ========================================
			==End New Arivals==
======================================== -->